.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    width: 100vw;
    background: #131414;
    color: #e3e3e3;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    box-shadow: black 0px 10px 50px;
}

.left-header {
    display: flex;
    align-items: center;
    padding-left: 2em;
}

.logo-link {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.header-logo {
    height: 3.5em;
    width: auto;
    object-fit: contain;
}

.header-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 1em;
}

.nav-header {
    display: flex;
    gap: 2rem;
    padding-right: 2em;
}

.nav-link-header {
    color: #e3e3e3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link-header:hover {
    color: #2F86D8;
}

.header-github-logo {
  height: 1.5em;
  width: 1.5em;
  margin-top: -0.25em;
  margin-left: 0.25em;
  vertical-align: middle;
  display: inline-block;
}