.footer {
    width: 100vw;
    background: #131414;
    color: #e3e3e3;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    font-size: 1rem;
    letter-spacing: 0.02em;
    box-shadow: black 0px -10px 50px;
}

span:hover {
    transition: 0.3s ease;
    color: #2F86D8;
    text-shadow: 0 0 5px #2F86D8;
}

.footer-message {
    color: #e3e3e3;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.footer-message.fade-out {
  opacity: 0;
}

.footer-message.fade-in {
  opacity: 1;
}